@model CadastroEscola.Models.Materia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Materia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeMateria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfessor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAluno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMateria">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
